.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 95%;
  /* border: 5px solid black; */
  padding: 10px;
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px 5px;
}

button {
  padding: 5px 15px;
  border-radius: 10px;
  border: 0px solid lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.movieblock {
  background-color: white;
  border: 0px solid black;
  margin: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

a, a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
  /* background-color: gray; */
  padding: 5px;
}

nav {
  float:right;
  display:flex;
  justify-content: center;
  /* justify-content: center; */
  /* align-items: center; */
  width:fit-content;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px 5px;
}